Demo/Library
*/Temp
*/obj
*/Logs
*/.vs
*/AssetBundle
*/Assets/StreamingAssets
*/Assets/StreamingAssets.meta
*.csproj
*.sln

/Assets/Packages/packages-lock.json
/CustomBuildPipeline
/APP

/Assets/Resources/Channel.txt
/Assets/Resources/Channel.txt.meta
/Assets/ChannelSDK/Plugins