/Library
/Temp
/obj
/Logs
/.vs
/AssetBundle
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/Assets/Scripts/GameMain/Customs/CustomComponents/ILRuntime/Generated/
*.csproj
*.sln
/Assets/ABRes/Shader/DiAnQi
/Assets/DiAnQi
/Assets/ArtResources/Art_FX_Scene/FX_Scene/Di_AnQi
/Assets/Packages/packages-lock.json
/CustomBuildPipeline
/APP

/Assets/Resources/Channel.txt
/Assets/Resources/Channel.txt.meta
/Assets/ChannelSDK/Plugins